[Desktop Entry]
Type=Application
Name=DiaVetítő
GenericName=Vetítő ablak
Comment=Diatár vetítő ablak második kijelzőre
Icon=eu.diatar.vetito
Exec=diavetito
Terminal=false
Categories=Utility;Religion;
Keywords=diatar;vetítő;zsolozsma;liturgia;